#scannerContainer {
    width:100%;
    height:20em;
    margin-right:0px;
}

#videoContainer {
	float: left;
	margin: 0;
}

#scannedQRsContainer {
	float: left;	
}

#scannedInfoContainer {
	
}


#scannedQRs {
	font-size: 2em;
}

#scannedQRs th, td {
  border: .1em solid black;
}

.scannedQRCell {
	background-color: green;
}

